<template lang="pug">
  div
    template(v-if="!availableItems.length")
      div(class="placeholder-area")
        div(class="placeholder placeholder--projects")
        div(class="placeholder placeholder--line")
        div(class="placeholder__text") Here you can start and manage projects,<br>create task-lists, and convert them to invoices.
        button(v-if="canCreateProduct" @click="create" class="button button--create") {{ $t('actions.new_project') }}
          span(class="icon-new-project-btn-icon")
    template(v-else)
      div(class="table__heading")
        button(v-if="canCreateProduct" @click="create" class="button button--create") {{ $t('actions.new_project') }}
          span(class="icon-new-project-btn-icon")
        div(class="table__dropdowns")
          filter-by(:watch="{ clients }" :name="name" :options="filterBy")
          search-by(:name="name" :options="searchBy")
      documents-table(
        @apply-filters-to-show-hidden-results="applyFiltersToShowHiddenResults"
        ref="table"
        :data="list"
        :context-menu-builder="contextMenuBuilder"
        :isScrollable="true"
        class="projects-table"
      )
        template(slot="head")
          column(width="20%") {{ $t('fields.project_name') }}
          column(width="20%") {{ $t('fields.client_name') }}
          column(width="10%") {{ $t('fields.progress') }}
          column(width="38%") {{ $t('fields.description') }}
          column(width="12%") {{ $t('common.actions') }}
        template(slot="columns" slot-scope="{ row }")
          column(width="20%")
            a(href="#" @click="openProject(row)") {{ row.name }}
          column(width="20%")
            a(href="#" @click="editDocument(row.client, 'client')") {{ row.client.name }}
          column(width="10%") {{ row | projectProgress }}
          column(width="38%") {{ row.description }}
          column(width="12%")
            button(@click="openProject(row)" class="button button--open") {{ $t('actions.edit') }}
            //- a(href="#" @click="openProject(row)") Open Project
        template(slot="details" slot-scope="row")
          project-details(:project="row")

    v-dialog(
      v-model='showingProject'
      fullscreen
      transition='dialog-bottom-transition'
      :overlay='false'
    )
      .dialogContentWrapper
        v-toolbar.toolbar--centerish(dark color='primary')
          v-btn(icon)
            v-icon edit

          v-toolbar-title {{ projectName }} {{ $t('common.project') }}.
          v-spacer

          v-btn(icon
            @click.native='closeProject'
          )
            v-icon close

        .dialogContent

          //-
            selected project page

          project-page(
            :project="projectData"
          )

</template>


<script>
import TableMixin from '@/mixins/TableMixin'
import {
  IsActiveFilter,
  IsArchivedFilter,
  IsDeletedFilter,
  ClientsFilter,

  // Search By
  SearchByText
} from '@/modules/table/filters'

import ProjectDetails from './ProjectDetails.vue'
import TableCmItems from '@/modules/table/contextmenu/items'
import ProjectPage from './ProjectPage.vue'

export default {
  mixins: [
    TableMixin
  ],

  components: {
    ProjectDetails,
    ProjectPage
  },

  data() {
    return {
      showingProject: false,
      projectName: '',
      projectData: []
    }
  },

  computed: {
    name() {
      return 'projects'
    },

    filterBy() {
      return [
        IsActiveFilter,
        IsArchivedFilter,
        IsDeletedFilter,
        { type: 'separator' },
        ClientsFilter.make(this.clients)
      ]
    },

    searchBy() {
      return [
        SearchByText.extend({ key: 'name', name: 'name', placeholder: this.$t('search_by.project_name') }),
        SearchByText.extend({ key: 'description', name: 'description', placeholder: this.$t('search_by.description') }),
        { type: 'separator' },
        SearchByText.extend({ key: 'client.name', name: 'client_name', placeholder: this.$t('search_by.client_name') })
      ]
    },
    contextMenuBuilder() {
      return this.$contextMenu.init({
        tableStateName: this.name
      })
        .addItem(TableCmItems.SELECTED_ROWS)
        .addItem(TableCmItems.ARCHIVE_MANY)
        .addItem(TableCmItems.UNARCHIVE_MANY)
        .addItem(TableCmItems.DELETE_MANY)
        .addItem(TableCmItems.RECOVER_MANY)
        .addSeparator()
        .addItem(TableCmItems.TABLE_NAME)
        .addItem(TableCmItems.CREATE_DOCUMENT)
        .addItem(TableCmItems.SELECTED_DOCUMENT)
        .addItem(TableCmItems.PREVIEW)
        .addItem(TableCmItems.EDIT_DOCUMENT)
        .addItem(TableCmItems.CLONE_DOCUMENT.extend({
          title: this.$t('actions.clone_quote')
        }))
        .addItem(TableCmItems.HISTORY_LIST)
        .addSeparator()
        .addItem(TableCmItems.PRINT_DOCUMENT.extend({ title: this.$t('actions.print_quote') }))
        .addItem(TableCmItems.CONVERT_PROJECT_TO_INVOICE)
        .addItem(TableCmItems.VIEW_INVOICE)
        .addSeparator({
          filter(builder) {
            return !builder.selectedMoreThanOneRow()
          }
        })
        .addItem(TableCmItems.ARCHIVE)
        .addItem(TableCmItems.UNARCHIVE)
        .addItem(TableCmItems.DELETE)
        .addItem(TableCmItems.RECOVER)
    },

    clients() {
      const clients = this.$store.getters[`table/${this.name}/activeItems`]
        .map((project) => project.client)
        .filter((client) => client)

      return this.filterAndOrder(clients, {
        filterBy: 'uuid',
        orderBy: 'name'
      })
    }
  },

  methods: {
    open(row) {
      this.$refs.table.$emit('toggle-details', row)
    },

    create() {
      this.createDocument('project')
    },

    edit(data) {
      this.editDocument(data, 'project')
    },

    openProject(row) {
      console.log('row: ', row)
      this.projectName = row.name
      this.projectData = row
      this.$store.commit('OVERLAY', 'projectDetails')
      this.showingProject = true
    },
    closeProject() {
      this.showingProject = false
      this.$store.commit('OVERLAY', '')
    }
  }
}
</script>

<style lang="scss" scoped>
.table-row-details {
  padding: 20px;
}

.row {
  margin: 40px 0 20px;
}
</style>

<style>
.projects-table .table__body {
  max-height: 650px;
}
</style>

<style lang="scss" scoped>
.dialogContentWrapper {
  min-height: 100%;
  background: $color-wild-sand;
}

.dialogContent {
  position: relative;
  padding: 0;
  display: flex;
  justify-content: center;
  max-height: calc(100vh - 64px);
  width: 100vw;
  margin: 0 auto;
  overflow: hidden;

  > div {
    width: 100%;
  }

  .modal-icon__close {
    position: absolute;
    top: 23px;
    right: 0;
  }

  .overseer__page-down {
    top: 0;
  }
}

.toolbar--centerish {
  box-shadow: $box-shadow;

  .toolbar__content {
    padding: 0 192px 0 194px;
  }
}
</style>

