<template lang="pug">
  //- container
  div(class="task-list-container scrollable")
    //- seperate colums
    div(
      class="task-list-column"
      v-for="list in project.taskLists"
    )
      //- title and action row
      div(class="row-title")
        input(
          v-if="column.editName === list.uuid"
          v-model="editColumn.name"
          class="row-title__input"
          @focus="column.focus = true"
          @focusout="updateColumn(list)"
          @keyup.enter="updateColumn(list)"
          v-clickaway="editColumnOff"
          )
        span(
          v-else
          class="row-title__name"
          @click="column.editName = list.uuid, editColumn.name = list.name"
          ) {{ list.name }}

        //- action button
        div(class="row-title__action" @click="column.dropdown = list.uuid")
        div(
          class="action-dropdown"
          v-if="column.dropdown === list.uuid"
          v-clickaway="columnDropdown")
          ul
            li(
              class="column-actions"
              @click="column.editName = list.uuid, editColumn.name = list.name, column.dropdown = undefined"
              ) {{ 'Rename column' }}
            li(
              class="column-actions"
              @click="deleteColumn(list)"
              ) {{ 'Delete column' }}

      //- add new task
      div(class="row-add")
        button(@click="taskOp.createTask = list.uuid")
          div(class="add-icon")
            //- show all tasks
      div(
        class="row-list scrollable"
        :class="[list.tasks.length === 0 && taskOp.createTask !== list.uuid ? 'emptyTaskList' : '']"
        )
        //- show create task
        div(
          class="task-card task-card__no-hover"
          v-if="taskOp.createTask === list.uuid"
          v-clickaway="editTaskOff"
          )
          textarea(
            class="card-row__name inputTaskName"
            style="border: 1px solid transparent; min-height: 50px; resize: none"
            @focus="taskOp.focus = true"
            @focusout="createTask(list)"
            @keyup.enter="createTask(list)"
            v-model="newTask.name"
            placeholder="Enter task name"
            )
        draggable(
          :list="list.tasks"
          class=""
          :options="dragoption.board"
        )
          //- all tasks
          div(
            class="task-card"
            v-for="task in list.tasks"
            :style="{transform: cardTransform(task.uuid)}"
          )
            //- action in task

            div(class="card-row")
              textarea(
              class="card-row__name inputTaskName"
              style="border: 1px solid transparent; min-height: 50px; resize: none"
              @focus="taskOp.focus = true"
              @focusout="taskRename(list, task)"
              @keyup.enter="taskRename(list, task)"
              v-model="newTask.name"
              v-if="taskOp.rename === task.uuid"
              )
              span(class="card-row__name" v-else) {{ task.name }}
              //- more button
              div(class="card-row__show")
                div(
                  class="card-row__action"
                  @click="taskOp.action = task.uuid"
                  )
                  div(
                    class="action-dropdown"
                    v-if="task.uuid === taskOp.action"
                    v-clickaway="taskActionDropOff")
                    ul
                      li(
                        class="column-actions"
                        @click="newTask.name = task.name, taskOp.action = undefined, taskOp.rename = task.uuid"
                        ) {{ 'Rename task' }}
                      li(
                        class="column-actions"
                        @click="taskDelete(list, task)"
                        ) {{ 'Delete task' }}

            div(class="card-row")
              div(class="botom-actions")
                div(
                  class="card-row__show"
                  :style="{opacity: showAssign(task.uuid)}"
                  )
                  //- assign employee button
                  div(
                    class="botom-actions__assign"
                    @click="taskOp.dropdown = task.uuid"
                    :style="{opacity: showAssign(task.uuid)}"
                    )
                  //- assign employee dropdown
                  div(
                    v-if="taskOp.dropdown === task.uuid"
                    class="botom-actions__dropdown"
                    v-clickaway="assignOf"
                    )
                    form-dropdown-input(
                      :items="employees"
                      v-model="task.assignee"
                      dense
                      background="background: #f2f2f2"
                    )
                    div(class="button-group")
                      button(
                        class="button button--tiny cancel"
                        @click="taskOp.dropdown = undefined"
                      ) {{ $t('actions.cancel') }}
                      button(
                        class="button button--tiny"
                        @click="assigneEmployee(task)"
                      ) {{ $t('actions.assign') }}

                div(class="card-row__show")
                  div(class="botom-actions__calendar")
              div(class="card-row__comments")
                //- div(class="card-row__show")
                div(class="comment-count") {{ '1' }}
                div(class="comment-icon")

    //- add new column
    div(class="task-list-column")
      div(class="add-column")
        span(
          class="add-column__add"
          v-if="column.editName !== 'newColumn'"
          @click="column.editName = 'newColumn'"
          ) {{ '+ Add Column' }}
        div(
          class="add-column__create"
          v-else
          )
          div(class="row-title")
            input(
              v-model="editColumn.name"
              class="creat-input"
              @focus="column.focus = true"
              @focusout="createColumn"
              @keyup.enter="createColumn"
              v-clickaway="editColumnOff"
              placeholder="New Column"
              )
          div(class="row-add")
          div(class="row-list emptyTaskList")
</template>

<script>
import Draggable from 'vuedraggable'

export default {
  props: {
    project: {
      required: true
    }
  },

  components: {
    Draggable
  },

  data() {
    return {
      dragoption: {
        board: {
          group: {
            name: 'task'
          },
          onChose: (e) => {
            console.log('clone: ', e)
          }
        },
        template: {
          group: {
            name: 'task',
            pull: 'clone',
            put: false
          },
          handle: '.task__handle',
          sort: false
        }
      },
      column: {
        editName: undefined,
        dropdown: undefined,
        focus: false
      },
      editColumn: {
        name: '',
        color: '#03A9F4'
      },
      taskOp: {
        focus: false,
        createTask: undefined,
        dropdown: undefined,
        assignee: undefined,
        action: undefined,
        rename: undefined
      },
      newTask: {
        name: ''
      }
    }
  },

  methods: {
    remove(listid, taskid) {
      this.todolist[listid].list.splice(taskid, 1)
    },

    // show elements
    editColumnOff() {
      if (!this.column.focus) {
        this.column = {
          editName: undefined,
          dropdown: undefined,
          focus: false
        }
      }
    },

    editTaskOff() {
      if (!this.taskOp.focus) {
        this.taskOp.focus = false
        this.taskOp.createTask = undefined
        this.taskOp.dropdown = undefined
        this.taskOp.assignee = undefined
        this.taskOp.action = undefined
        this.taskOp.rename = undefined
      }
    },

    assignOf() {
      this.taskOp.assignee = undefined
      this.taskOp.dropdown = undefined
    },

    taskActionDropOff() {
      this.taskOp.action = undefined
    },

    columnDropdown() {
      this.column.dropdown = undefined
    },

    openNewTask(uuid) {
      this.taskOp.createTask = uuid
    },

    cardTransform(uuid) {
      if (this.taskOp.dropdown === uuid) {
        return 'translatey(-1px)'
      }
    },

    // column actions
    createColumn() {
      this.$store.dispatch('documents/repositories/project/CREATE_TASK_LIST', {
        uuid: this.project.uuid,
        data: this.editColumn
      }).then(() => {
        this.column.editName = undefined
        this.editColumn.name = ''
      })
    },

    updateColumn(list) {
      if (list.name !== this.editColumn.name) {
        this.$store.dispatch('documents/repositories/project/UPDATE_TASK_LIST', {
          uuid: this.project.uuid,
          taskListUuid: list.uuid,
          data: this.editColumn
        })
        .then(() => {
          this.column.editName = undefined
          this.column.focus = false
        })
      } else {
        this.column.editName = undefined
        this.column.focus = false
      }
    },

    deleteColumn(list) {
      this.$store.dispatch('documents/repositories/project/REMOVE_TASK_LIST', {
        uuid: this.project.uuid,
        taskListUuid: list.uuid
      })
    },

    // task actions
    createTask(list) {
      if (this.newTask.name !== '') {
        this.$store.dispatch('documents/repositories/project/CREATE_TASK', {
          uuid: this.project.uuid,
          taskListUuid: list.uuid,
          data: this.newTask
        }).then(() => {
          this.taskOp.createTask = undefined
          this.taskOp.focus = false
          this.newTask.name = ''
        })
      } else {
        this.taskp.createTask = undefined
        this.taskOp.focus = false
        this.newTask.name = ''
      }
    },

    showAssign(uuid) {
      if (this.taskOp.dropdown === uuid) {
        return 1
      }
    },

    assigneEmployee(task) {
      this.$store.dispatch('documents/repositories/project/ASSIGN_TASK_EMPLOYEE', {
        uuid: task.uuid,
        employee: task.assignee
      }).then(() => {
        this.taskOp.assignee = undefined
        this.taskOp.dropdown = undefined
        console.log('this.tasklist: ', this.project.taskLists)
      })
    },

    taskDelete(list, task) {
      this.$store.dispatch('documents/repositories/project/REMOVE_TASK', {
        uuid: this.project.uuid,
        taskListUuid: list.uuid,
        taskUuid: task.uuid
      })
    },

    taskRename(list, task) {
      this.$store.dispatch('documents/repositories/project/UPDATE_TASK', {
        uuid: this.project.uuid,
        taskListUuid: list.uuid,
        taskUuid: task.uuid,
        data: this.newTask
      }).then(() => {
        this.newTask.name = ''
        this.taskOp.rename = undefined
      })
    }
  },

  computed: {
    employees() {
      return this.$store.getters['documents/repositories/employee/ACTIVE_ITEMS'].map((employee) => {
        return {
          text: `${employee.firstName} ${employee.lastName}`,
          value: employee.uuid
        }
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.button-group {
  display: flex;
  justify-content: flex-end;

  .button--tiny {
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    padding: 0 10px;
  }

  .cancel {
    background: $color-carnation;
  }
}

.emptyTaskList {
  background-image: linear-gradient(to bottom, #ffffff, #fcfcfc, #f8f8f8, #f5f5f5, #f2f2f2);
}

.task-list-container {
  min-width: 100%;
  height: 90vh;
  overflow: auto;
  white-space: nowrap;

  .task-list-column {
    width: 300px;
    min-height: 100%;
    min-height: 100%;
    display: inline-block;
    vertical-align:top;
    white-space:normal;
    padding: 10px;
    position:relative;

    .action-dropdown {
      background: $color-white;
      min-height: 50px;
      min-width: 200px;
      position: absolute;
      margin-left: 257px;
      margin-top: -5px;
      border-radius: 4px;
      border: 1px solid $color-mercury;
      box-shadow: 0 5px 20px 0 rgba(21,27,38,.08);
      z-index: 2;

      ul {
        list-style-type: none;
        padding: 5px 0;

        li {
          padding: 0 10px;
          height: 30px;
          width: 100%;
          display: flex;
          align-items: center;

          &:hover {
            background: $color-wild-sand;
          }
        }
      }
    }

    .row-title {
      width: 100%;
      height: 30px;
      box-sizing: border-box;
      position: relative;

      &__name {
        font-size: 16px;
        font-weight: 600;
        display: inline-block;
        line-height: 30px;
        overflow: hidden;
        position: relative;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 250px;
      }

      &__action {
        background: url('../../assets/icons/project/more.svg');
        background-repeat: no-repeat;
        background-position: center center;
        width: 24px;
        height: 30px;
        margin-left: 5px;
        opacity: 0.4;
        display: inline-block;
        cursor: pointer;
      }

      &__input {
        border: 1px solid $color-mercury;
        border-radius: 4px;
        padding-left: 5px;
        background: $color-white;
        display: inline-block;
        height: 28px;
        font-size: 16px;
        font-weight: 600;
        transform: translateY(-10px);
        width: 250px;
      }
    }
  }

  .row-add {
    width: 100%;
    height: 30px;

    button {
      width: 100%;
      height: 100%;
      background-color: $color-white;
      border-radius: 4px;
      box-shadow: 0 1px 3px 0 rgba(21,27,38,.15);
      box-sizing: border-box;
      cursor: pointer;
      display: flex;
      justify-content: center;

      .add-icon {
        background: url('../../assets/icons/taskAdd.svg');
        background-repeat: no-repeat;
        background-position: center center;
        height: 30px;
        width: 30px;
        transition: 0.2s;
      }
    }

    button:hover {
      .add-icon {
        background: url('../../assets/icons/taskAddHover.svg');
        background-repeat: no-repeat;
        background-position: center center;
      }
    }
  }

  .row-list {
    margin-top: 10px;
    width: 100%;
    height: 80vh;

    .task-card {
      width: 100%;
      min-height: 80px;
      margin-bottom: 10px;
      background: $color-white;
      border-radius: 4px;
      box-shadow: 0 1px 3px 0 rgba(21,27,38,.15);
      cursor: pointer;
      padding: 15px;

      .card-row:first-child {
        min-height: 20px;
        margin-bottom: 5px;
      }

      .card-row:last-child {
        height: 24px;
      }

      &:hover {
        .card-row {
          &__show {
            opacity: 1;
          }
        }
      }
    }

    .task-card:hover {
      box-shadow: 0 3px 5px 0 rgba(0,0,0,.1);
      transform: translatey(-1px);
    }

    .task-card__no-hover {
      cursor: default;

      .inputTaskName {
        border: 1px solid $color-mercury;
        border-radius: 4px;
        padding-left: 5px;
        background: $color-white;
        display: inline-block;
        height: 28px;
        font-size: 13px;
        font-weight: 400;
        width: 250px;
      }

      .inputTaskName:focus {
        outline: none
      }
    }

    .task-card__no-hover:hover {
      box-shadow: 0 1px 3px 0 rgba(21,27,38,.15);
      transform: translatey(0);
    }

    .card-row {
      width: 100%;
      display: flex;
      justify-content: space-between;

      &__show {
        display: inline-block;
        opacity: 0;
      }

      &__name {
        max-width: 220px;
        line-height: 20px;
        font-size: 13px;
        font-weight: 400;
        flex-grow: 1;
        word-wrap: break-word;
      }

      &__action {
        background: url('../../assets/icons/project/more.svg');
        background-repeat: no-repeat;
        background-position: center center;
        width: 24px;
        height: 10px;
        margin-left: 5px;
        opacity: 0.4;
        display: inline-block;
        cursor: pointer;
        transition: .15s;

        &:hover {
          opacity: 1;
        }

        .action-dropdown {
          margin-left: 0;
        }
      }

      .botom-actions {
        position: relative;

        &__calendar {
          background: url('../../assets/icons/project/calendar.svg');
          background-repeat: no-repeat;
          background-position: center center;
          width: 24px;
          height: 20px;
          opacity: 0.4;
          display: inline-block;
          cursor: pointer;
          margin-left: 5px;
          transition: .15s;

          &:hover {
            opacity: 1;
          }
        }

        &__assign {
          background: url('../../assets/icons/project/assign.svg');
          background-repeat: no-repeat;
          background-position: center center;
          width: 24px;
          height: 20px;
          opacity: 0.4;
          display: inline-block;
          cursor: pointer;
          transition: .15s;

          &:hover {
            opacity: 1;
          }
        }

        &__dropdown {
          background: $color-white;
          min-height: 50px;
          min-width: 250px;
          position: absolute;
          margin-top: 5px;
          border-radius: 4px;
          border: 1px solid $color-mercury;
          box-shadow: 0 5px 20px 0 rgba(21,27,38,.08);
          z-index: 2;
          padding: 10px;

          .button-group {
            margin-top: 10px;
          }

          .cancel {
            margin-right: 5px;
          }
        }
      }

      &__comments {
        width: 31px;
        height: 15px;
        // opacity: 0.4;
        display: inline-block;
        cursor: pointer;
        margin-top: 9px;
        transition: .15s;

        .comment-count {
          width: 15px;
          height: 15px;
          font-size: 11px;
          text-align: right;
          display: inline-block;
          margin-right: 5px;
        }

        .comment-icon {
          background: url('../../assets/icons/project/comment.svg');
          background-repeat: no-repeat;
          background-position: center center;
          width: 11px;
          height: 11px;
          display: inline-block
        }

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

// add new column
.add-column {
  &__add {
    font-size: 16px;
    cursor: pointer;
    font-weight: 400;
    width: 100%;
    display: flex;
    align-items: center;
    transition: color .2;
    height: 30px;

    &:hover {
      color: $color-indigo;
    }
  }

  &__create {
    .creat-input {
      border: 1px solid #e1e1e1;
      border-radius: 4px;
      padding-left: 5px;
      background: #ffffff;
      display: inline-block;
      height: 28px;
      font-size: 16px;
      font-weight: 600;
      width: 100%;
    }
  }
}

.dropdown_open {
  opacity: 1;
}
</style>